.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 100%;
    border-right: 1px solid #c4c4c4;
}
.active_i{
    display: none;  
}

@media(min-width:1024px){
    .inbox_people{
        position: absolute;
        width: 30%;
        left:7%;
    }
    .active_i{
        display: block;
    }
}